@import '../abstract/base';

@media screen and (max-width: 885px){
    main{
        display: flex;
        flex-direction: column;
        .cards{
            background-image: linear-gradient(hsl(278, 94%, 30%), hsl(278, 68%, 11%));
            .front{
                position: absolute;
                z-index: 50;
                left: 15%;
                top: 15%;
            }
            .card__container{
                display: flex;
                flex-direction: column;
                color: $white;
                justify-content: space-between;
                background: url('../../images/bg-card-front.png') center;
                padding: 2rem;
                box-sizing: border-box;
                width: 400px;
                height: 235px;
                border-radius: 10px;
                
                .card__number{
                    font-size: 1.25rem;
                    font-weight: 700;
                    font-family: $primary-font;
                }
                .card__name-container{
                    display: flex;
                    justify-content: space-between;
                    font-size: 1rem;
                    .name{
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
                
            }
    
            .back{
                display: flex;
                align-items: end;
                justify-content: center;
                background: url('../../images/bg-card-back.png') center;
                position: relative;
                z-index: 1;
                top: 10%;
                left: 30%;
            }
    
        }
    }
    

    .container{
        .form__container{
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 30px;
            width: 70%; 
        }
    }

}

@media screen and (max-width: 430px){
        main{
        display: flex;
        flex-direction: column;
        .cards{
            background-image: linear-gradient(hsl(278, 94%, 30%), hsl(278, 68%, 11%));
            .front{
                position: absolute;
                z-index: 50;
                left: 5%;
                top: 13%;
            }
            .card__container{
                display: flex;
                flex-direction: column;
                color: $white;
                justify-content: space-between;
                background: url('../../images/bg-card-front.png') center no-repeat;
                background-size: contain;
                padding: 2rem;
                box-sizing: border-box;
                width: 250px;
                height: 165px;
                border-radius: 10px;
                .card__logo{
                    .logo{
                        width: 60px;
                    }
                }
                
                .card__number{
                    font-size: .8rem;
                    font-weight: 700;
                    font-family: $primary-font;
                }
                .card__name-container{
                    display: flex;
                    justify-content: space-between;
                    font-size: .7rem;
                    .name{
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
                
            }
    
            .back{
                display: flex;
                align-items: end;
                justify-content: center;
                background: url('../../images/bg-card-back.png') center  no-repeat;
                position: relative;
                z-index: 1;
                top: 5%;
                left: 30%;
                background-size: contain;
            }
    
        }
    }



    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
        flex: 1;
        .form__container{
            display: grid;
            justify-content: center;
            grid-template-columns: 50% 50%;
            gap: 10px;
        }

    }
}