@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

//fonts
$primary-font: 'Space Grotesk', sans-serif;

//primary colors
$primary-color: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$secundary-color: hsl(0, 100%, 66%);

//neutral colors 

$primary-neutral-color: hsl(270, 3%, 87%);
$secundary-neutral-color: hsl(279, 6%, 55%);
$terciary-neutral-color: hsl(278, 68%, 11%);
$white: hsl(0, 0%, 100%);
